.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  text-align: center;
  text-decoration: underline;
}

.calculator {
  background-color: darkgrey;
  border-style: solid;
  border-color: black;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px black;
}

.display-box {
  min-height: 75px;
  height: auto;
  width: 306;
  border-style: solid;
  border-color: black;
  background-color: rgb(59, 59, 59);
  margin: 5px;
  border-radius: 6px;
}
.button-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.button {
  background-color: rgb(255, 255, 255);
  height: 75px;
  width: 75px;
  font-size: larger;
  padding: 2px;
  margin: 2px;
  border-radius: 12px;
}
.display {
  text-align: right;
  font-size: x-large;
  font-weight: 500;
  word-wrap: break-word;
  color:rgb(168, 255, 37);
}
.button-top-left {
  height: 75px;
  width: 154px;
  padding: 2px;
  margin: 2px;
  font-size: larger;
  border-radius: 12px;
  background-color: rgb(255, 56, 56);
}

.button-top-right {
  height: 75px;
  width: 154px;
  padding: 2px;
  margin: 2px;
  border-radius: 12px;
  font-size: larger;
  background-color: rgb(255, 144, 79);
}

.button-top-equal {
  background-color: rgb(177, 255, 87);
  height: 75px;
  width: 75px;
  font-size: larger;
  padding: 2px;
  margin: 2px;
  border-radius: 12px;
}
